@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.hero{
    position: relative; /* MUITO IMPORTANTE */
    width: 100%;
    height: 465px;
    background-image: url('midia/capa.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 30px 30px;
    color: white;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
}

.conteudo{
    position: relative;
    z-index: 2;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.532);
}

.foto{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h1{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 10px 10px 10px black;
}

h1 span{
    font-weight: 700;
}

.music-player{
    position: absolute;
    bottom: -80px; /* controla quanto ele desce */
    left: 50%;
    transform: translateX(-50%);
    background: #006FFF;
    padding: 5px;
    border-radius: 17px;
    width: 300px;
    z-index: 3;
}
.music-info{
    display: flex;
    align-items: center;
    gap: 15px;
}
.music-info > img {
    width: 70px;
    height: 70px; 
    align-items: left;
    display: flex;
    border-radius: 15px;
}

.music-player > h2{
    margin:0px;
    margin-bottom: 10px;
    font-weight: 500;
    display: flex;
}

.player {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255,255,255,0.2);
  padding: 15px;
  border-radius: 16px;
  margin: 8px;
}

button {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

input[type="range"] {
  cursor: pointer;
}

.volume-container {
  position: relative;
  display: flex;
  align-items: center;
}

#volumeSlider {
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 80px;
  display: none;

  cursor: pointer;
}

/* Classe para mostrar */
.volume-container.active #volumeSlider {
  display: block;
}

main{
    margin-top: 90px;
    text-align: center;
}