@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #006FFF;
    --cor-segundaria: #001EFF;
    --font-principal: 'Poppins', sans-serif; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.hero{
    position: relative; /* MUITO IMPORTANTE */
    width: 100%;
    height: 465px;
    background-image: url('midia/capa.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 30px 30px;
    color: white;
}

.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
}

.conteudo{
    position: relative;
    z-index: 2;
    text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.532);
}

.foto{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

h1{
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
}

h1 span{
    font-weight: 700;
}

.music-player{
    position: absolute;
    bottom: -72px; /* controla quanto ele desce */
    left: 50%;
    transform: translateX(-50%);
    background: #006FFF;
    padding: 20px;
    border-radius: 20px;
    width: 300px;
    z-index: 3;
}

.music-player p{
    margin:0px;
    margin-bottom: 10px;
    font-weight: 500;
}

audio{
    width: 100%;
}

.music-player p{
    margin-bottom: 10px;
    font-weight: 500;
}

audio{
    width: 100%;
}

main{
    margin-top: 90px;
    text-align: center;
}